/* #fdiv{
    justify-content: flex-end;
}
h2{
    color: chocolate;
}
#fdiv a{
    color: white;
    font-size: medium;
}
.btnAcceuil,
.btnCreerBloc{
    border-radius: 40px;
} */
/* ************************************** */
ul li{
   margin-left: 2px;
   margin-right: 2px;
}

.text-small {
  font-size: 85%;
}


